<style> 

  .form-submission-error{
    display: none;
  }
  .form-submission-error-shadow{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity: 0.4;
    position: fixed;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .error-inner{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    z-index: 10001;
    top: 50px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    width: auto;
  }
  .error-inner button{
    outline: 0;
    margin-left: 10px;
    margin-top:30px;
  }

  .youtube {
  background-color: #000;
  cursor: pointer;
}
.youtube img {
    width:100%;
    opacity: 0.7;
    height: auto;
}
.customerstoriesvideowrapper .youtube img{
  width: 125%;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.item .video-container{
  padding-bottom: 0;
}
</style>
<main>
    <!--banner starts-->
    <section class="heropage">
        <div class="container">
            <div class="heropageimage">
            </div>
           
            <div class="heropagetext col-sm-5 col-xs-12">
                <div class="display-md-table heropagetextinner">
                    <!--main heading starts-->
                    <h1>All about our company</h1>
                    <!--main heading ends-->
                    <!--bannertext starts-->
                    <div class="bannertext">We’ve been helping people make it right for over 25 years.</div>
                    <!--bannertext ends-->
                    <!--header trust pilot starts-->
                    <div class="trustpilotboxheader">
                        
                        <div id="drum-screenshare-extension" style="display: none;">1.0.0.19</div>
                        <div id="drum-screenshare-extension" style="display: none;">1.0.0.19</div>
                        <div id="drum-screenshare-extension" style="display: none;">1.0.0.19</div>
                    </div>
                    <!--header trust pilot ends-->
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    <!--banner ends-->
    <!--form blue bar starts-->
    <!--form blue bar ends-->
    <section class="breadcrumbswrapper"><div class="container breadcrumbs hidden-xs"><span><span><a href="#"><span class="icon icon-home" role="presentation"></span><span class="hidden">Home</span></a> &gt; <span class="breadcrumb_last">All about our company</span></span></span></div></section>        <!--content starts-->
    <section class="maincontent">
        <div class="container">
            <div class="row">
                <!--maincontent starts-->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 maincontentarea">
                    <div class="content-block">
                        <h2>We’re National Accident Helpline</h2>
                        <p>We’re the UK’s leading provider of personal injury advice, services and support. With 25 years’ experience, we’ve helped more people injured in accidents than anyone else.</p>
                        <p>We believe that if you’ve had an injury and it feels wrong, it probably is – and we’re committed to helping you make it right. We do this by guiding you through the steps of making a personal injury claim, and by giving free, impartial advice on compensation.</p>
                    </div>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>Our team</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>Our advisors are based in our legal support centre in Kettering, Northamptonshire and are all legally trained, so that they’re ready to help you when you call us.</p>
                                    <p>We also have a network of specialist personal injury solicitors across the UK. This means we can put you forward to the right solicitor if you do decide you’d like to go ahead with a claim. And we monitor the standards of all our solicitors to make sure you’re receiving the best possible service.</p>
                                    <p>Our solicitors work on a no win no fee basis, which means if your claim isn’t successful, then you won’t need to pay any money. Visit our <a href="#">no win no fee page</a>&nbsp;to learn more.</p>
                                </div><div class="clear"></div>
                                <!--youtube starts-->


                                <div class="youtubewrapper">

                                    <div class="video-container" style="padding-top:0;">

                                        <div class="wrapper">
                                            <div class="youtube" style="height: 476.719px;">
                                                <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/E4n7BQkOQ_s?rel=0&amp;showinfo=0&amp;autoplay=1"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="youtubetext">
                                        <p>
                                            Learn more about the people who make up our team.
                                        </p>
                                        <div class="youtubeshare">
                                            <span>Found this helpful? Share it!</span>
                                            <a class="shareicon facebook" href="#" target="_blank" title="Share this video on Facebook"><span class="icon icon-facebook"></span></a>
                                            <a class="shareicon google" href="#" target="_blank" title="Share this video on Google+"><span class="icon icon-google"></span></a>
                                            <a class="shareicon twitter" href="#" target="_blank" title="Share this video on Twitter"><span class="icon icon-twitter"></span></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </section>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>Our history</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>With&nbsp;25&nbsp;years’ experience, our in-depth understanding of the claims process means we’re in the best place to&nbsp;handle&nbsp;your personal injury claim.</p>
                                    <p>Our broad knowledge of&nbsp;different types of claims has led to us becoming&nbsp;the UK’s most trusted and recommend personal injury specialists.</p>
                                    <p>That means, we know:</p>
                                    <ul>
                                        <li>What support you need when you contact us</li>
                                        <li>That <a href="#">the claims process</a> needs to be straightforward and stress-free</li>
                                        <li>How important no win no fee is</li>
                                    </ul>
                                    <p>And we understand that people want to know&nbsp;<a href="#">how much they could claim</a>&nbsp;before they contact us. That’s why we try to answer all of your questions when you visit our website.</p>
                                    <p>If you have any questions, or you would like&nbsp;to speak to somebody about your experience, you can call us for free advice on&nbsp;<a id="phone_header_button" class="infinityPhoneNumber2" href="tel:08003760150"><span>0800 376 0150</span></a>.</p>
                                </div><div class="clear"></div>            <!--casestudy starts-->

                                <div id="casestudycarousel46" class="carousel slide casestudycarousel" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active" style="min-height: auto; height: 211px;">
                                            <div class="casestudywrapper">
                                                <div class="casestudy">
                                                    <div class="quotetext">
                                                        <h3>Tina Williams, from Reading, won £3,000</h3>
                                                        <blockquote>
                                                            <p>I contacted National Accident Helpline and they were more than helpful – they were really lovely and dealt with it all</p>
                                                        </blockquote>
                                                        <a class="btn btn-teal" href="#">
                                                            Read
                                                            more success stories...
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </section>
                    <section id="" class="page-section">
                        <div class="title-block"><h4>Find out how we’ve been helping you make it right since 1993 as the most trusted company in the personal injury claims industry:</h4></div>
                        <!--youtube starts-->

                        <div itemscope="" itemtype="”http://schema.org/VideoObject”">
                            <h2 style="display:none;">
                                <span itemprop="name">25 years of making it right for you</span>
                            </h2>
                            
                            <div class="youtubewrapper">

                                <div class="video-container" style="padding-top:0;">

                                    <div class="wrapper">
                                        <div class="youtube" style="height: 476.719px;">
                                            <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/E4n7BQkOQ_s?rel=0&amp;showinfo=0&amp;autoplay=1"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="youtubetext">
                                    <p itemprop="description"></p>
                                    <div class="youtubeshare">
                                        <span>Found this helpful? Share it!</span>
                                        <a class="shareicon facebook" href="#" target="_blank" title="Share this video on Facebook"><span class="icon icon-facebook"></span></a>
                                        <a class="shareicon google" href="#" target="_blank" title="Share this video on Google+"><span class="icon icon-google"></span></a>
                                        <a class="shareicon twitter" href="#" target="_blank" title="Share this video on Twitter"><span class="icon icon-twitter"></span></a>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </section>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>Our campaign against cold calling</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>We’ve NEVER made a single cold call. And we never will.</p>
                                    <p>We only ever get in touch with people who have asked us to. This means we don’t send spam texts or emails, or engage in any other form of nuisance marketing either.</p>
                                    <p>In fact, we actively campaign against this practice.</p>
                                    <p>You can also find helpful advice and information on what you can do if you’ve received cold calls or spam texts on our&nbsp;<a href="#">cold calling</a>&nbsp;page.</p>
                                </div><div class="clear"></div>
                            </div>
                        </div>


                    </section>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>The Ethical Marketing Charter</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>National Accident Helpline is the founder of the Ethical Marketing Charter, set up with other industry leaders in 2015 to encourage organisations in the personal injury sector to uphold the highest ethical and professional standards.</p>
                                    <p>The Charter, supported by parliamentarians and industry regulators, calls on its members to commit to:</p>
                                    <ul>
                                        <li>Stand firmly against nuisance calling, never cold calling or sending spam texts or spam emails</li>
                                        <li>Stand firmly against the unethical buying and selling of accident data, never misusing accident data to pressure people into making a claim</li>
                                        <li>Stand firmly against inappropriate and misleading advertising, never inducing personal injury claims by making false or misleading promises in their advertising, and are clear and upfront about any exclusions to no win no fee</li>
                                    </ul>
                                    <p>Visit the&nbsp;<a href="#" target="_blank" rel="noopener">Ethical Marketing Charter</a>&nbsp;website to find out more about the Charter and its signatories.</p>
                                </div><div class="clear"></div>
                            </div>
                        </div>


                    </section>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>Company details</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>Company registration number: 02857601</p>
                                    <p>Incorporated in England Address and Registered Office: 1430 Montagu Court, Kettering Parkway, Kettering, Northants, NN15 6XR</p>
                                    <p>Regulated by the Claims Management Regulator in respect of regulated claims management activities. No. CRM1437; registration recorded on the website&nbsp;<a href="#" target="_blank" rel="noopener">www.claimsregulation.gov.uk</a></p>
                                    <p>The details for the Claims Management Regulator are as follows:</p>
                                    <p>
                                        Claims Management Regulator,<br>
                                        57-60 High Street,<br>
                                        Burton-upon-Trent<br>
                                        Staffordshire<br>
                                        DE14 1J2.<br>
                                        Tel: 0333 200 0110<br>
                                        Email: consumer@claimsregulation.gov.uk
                                    </p>
                                </div><div class="clear"></div>
                            </div>
                        </div>


                    </section>
                    <section id="" class="page-section">

                        <div class="accordianwrapper">
                            <div class="accordiantitle"><h2>Our work with charity partners</h2></div>
                            <div class="accordiantext">
                                <div class="content-block">
                                    <p>We feel that part of our responsibility as a company is to give something back and help to make a difference by supporting charities and our local community in Northamptonshire.</p>
                                    <p>This year, we’re proud to support the Warwickshire and Northamptonshire <a href="#">Air Ambulance</a>.</p>
                                    <p>The Air Ambulance Service makes sure people who need help after an injury get it quickly, and corporate partnerships like ours help them to raise awareness and keep their helicopters flying.</p>
                                    <p>Read more about <a href="#" target="_blank" rel="noopener">the Air Ambulance Service</a> and what they do.</p>
                                </div><div class="clear"></div>
                            </div>
                        </div>


                    </section>

                </div>
                <!--maincontent ends-->
                <!--sidebar starts-->
                <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar">
                    <!--secondarysidebar starts-->
                    <!--colour blocks start-->
                    <!--colour blocks ends-->
                    <div class="secondary sidebar">
                        <div class="tpreviewwidget secondarywidget widget">

                        </div>
                        <div class="relatedlinkswidget">
                            <div class="widget">
                                <h3>More information about us</h3>
                                <ul>
                                    <li><a href="#">Any Link</a></li>
                    
                                </ul>
                            </div>
                        </div>


                    </div>

                    <!--secondarysidebar ends-->
                </aside>
                <!--sidebar ends-->
            </div>
        </div>
    </section>
    <!--content ends-->


</main>