#generic-lp {
	position: relative;
	overflow: hidden;

	.mainbannertext {
		.btn {
			margin-top: 2em;
		}
	}
	
	.full-width-extension {
	 
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);

	}

	.atom-hero {

	height: 478px;
	background-color: #d2c7c0;
	background-repeat: no-repeat;
	background-position: center center;
	}

	.atom-hero-content-wrapper {

	width: 1080px;
	margin: 0 auto;
	display: table;
	height: 478px;

	}
	#atom-left-justify {

	display: table-cell;
	vertical-align: middle;
	width: 620px;

	}
	.atom-headline-colour {

	color: #ffffff !important;
	margin-bottom: 30px;

	}

	.atom-h2-colour {

	color: #009faa !important;
	margin-top: 40px;
	margin-bottom: -4px;

	}
	.atom-quote {

	font-style: italic;
	color: #ffffff;
	font-weight: bold;
	width: 590px;
	margin-bottom: 46px;

	}
	a#atom-hero-cta {

	background: #37c674 none repeat scroll 0 0;
	color: #ffffff;
	display: block;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-decoration: none !important;
	width: 60%;

	}

	#atom-hero-cta-two {

	position: relative;
	/*top: 23px;
	width: 70%;*/
	margin: 0 auto;
	display: none;

	}

	#atom-fixed-width {

	width: 640px;

	}

	.bottom-disclaimer {

	font-size: 1rem;
	font-weight: normal;
	text-align: center;
	position: relative;
	color: $brandcolour6;
	}

	#atom-main-content {

	text-align: center;
	float: left;
	margin: 0 auto;
	width: 100%;

	}
	.atom-add-margin {

	margin-bottom: 27px;

	}

	.atom-coloured-block {

	/*float: left;*/
	margin-right: 21px;
	position: relative;
	/*width: 23.5%;*/

	}

	.atom-coloured-block:before {

	content: "";
	display: block;
	padding-top: 100%;

	}

	.atom-last {

	margin: 0 !important; 

	}

	.full-width-extension.atom-social {

	clear: both;
	position: relative;
	top: 57px;
	height: 50px;
	background-color: #f6f6ef;

	}

	#atom-social-content-wrapper {

	display: table;
	margin: 0 auto;
	height: 50px;
	width: 1080px;

	}

	.coloured-boxes {
		position: relative;
		overflow: hidden;
		margin: 2rem 0;
	}

	.atom-coloured-block-inner {

	border: 2px solid #ffffff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	height: 80%;
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	position: absolute;

	}

	.atom-coloured-block-inner:before {

	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;

	}
	.atom-content-center {

	display: inline-block;
	vertical-align: middle;

	}

	.atom-content-center a p {

	color: #ffffff;
	font-size: 12px;
	font-weight: 400 !important;

	}

	#social-center {

	display: table;

	}

	#social-center p {

	float: left;
	margin: 0 !important;
	padding: 0 15px 0 0 !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 50px;

	}

	#social-center img {

	width: 29px;
	height: 29px;
	margin-right: 10px;

	}

	#social-icon-align {

	display: table-cell;
	vertical-align: middle;

	}

	.full-width-extension.atom-footer {

	background-color: #6d6c69;

	}

	#atom-footer-content-wrapper {

	display: table;
	margin: 0 auto;
	width: 1080px;
	height: 158px;

	}

	#atom-footer-content-wrapper ul {

	border-bottom: 1px solid #ffffff;
	margin-top: 25px;
	padding-bottom: 10px;
	padding-left: 0 !important;

	}

	#atom-footer-content-wrapper ul li {

	border-right: 2px solid #ffffff;
	display: inline;
	font-size: 12px; 
	font-weight: bold;
	list-style-type: none;
	padding: 0 10px;

	}

	#atom-footer-content-wrapper ul li,
	#atom-footer-content-wrapper ul li a,
	#atom-footer-content-wrapper p {

	color: #ffffff;

	}

	#atom-footer-content-wrapper p {

	font-size: 11px;
	font-weight: normal !important;
	width: 600px;

	}

	.atom-li-first {

	padding-left: 0 !important;

	}

	.atom-li-last {

	border-right: 0 !important;

	}

	.atom-coloured-block {
		background-color: #b6473c;
		background-size: 100% !important;
	}

	.atom-coloured-block img {

	width: 19px;
	height: 19px;

	}

	.atom-bottom-disclaimer {

	background: #f6f6ee;
	padding: 10px 0;
	display: none;

	}

	.atom-bottom-disclaimer-wrapper {

	margin: 0 auto;
	width: 690px;

	}

	.atom-bottom-disclaimer-wrapper p {

	font-size: 9px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;

	}

	.atom-coloured-block a.clickable {

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 1000;
	background-color: #ffffff;
	opacity: 0;
	filter: alpha(opacity=1);

	}

	} /* End Generic Coloured Block */

	.boxes {
		display: flex;
    	flex-wrap: wrap;
    	margin: 2em 0;
	}


	.content {
		text-align: center;
	}

	.purpleoutlinebox {
		display: block;
		padding:0 1.5rem 4.5em !important;
		h4 {
			color: $brandcolour1;
		}
		.icon{
			img{
				max-width:140px;
			}	
		}	
		.icon-circle-chevron-right:after {
			color: $brandcolour3;
		}
	}

	@media screen and (max-width: 1200px) {

		#generic-lp {

			.atom-coloured-block {

			/*width: 48.7%;*/

			}

			.atom-coloured-block.atom-block-two {

			margin-right: 0;

			}

			.atom-coloured-block.atom-block-one,
			.atom-coloured-block.atom-block-two {

			margin-bottom: 21px;

			}

			.atom-hero-content-wrapper,
			#atom-social-content-wrapper,
			#atom-footer-content-wrapper {

			width: 910px;

			}

			}
		}

	@media screen and (max-width: 991px) {

		#generic-lp {

			.atom-coloured-block {

			/*width: 48.3%;*/

			}

			.atom-hero-content-wrapper,
			#atom-social-content-wrapper,
			#atom-footer-content-wrapper {

			width: 690px;

			}

			#atom-fixed-width {

			width: 500px;

			}

			.atom-headline-colour {

			font-size: 28px;

			}

			.atom-quote {

			font-size: 14px;
			width: 500px;

			}

			.full-width-extension.atom-bottom-disclaimer {

			display: block;

			}
		}

}



@media screen and (max-width: 767px) {

/*.atom-coloured-block {

width: 47.9%;

}*/
	#generic-lp {

		.atom-hero-content-wrapper,
		#atom-social-content-wrapper,
		#atom-footer-content-wrapper,
		.atom-bottom-disclaimer-wrapper,
		#atom-footer-content-wrapper p {

		width: 545px;

		}

		.atom-quote {

		width: 460px;

		}


		.atom-hero {

		background-position: -930px -100px !important;

		}
		
		.coloured-boxes {
			position: relative;
			overflow: hidden;
			margin: 0 0;
			
			.coloured-block{
				margin:20px 0;
			}	
		}

		}
		
		.landingpageblock
		{
			margin-bottom:2rem;
		}
	}

@media screen and (max-width: 545px) {



}

@media screen and (max-width: 529px) {

/*.atom-coloured-block {

width: 47.7%;

}*/

}

@media screen and (max-width: 485px) {

/*.atom-coloured-block {

width: 100%;

}*/

#generic-lp {

	.atom-coloured-block.atom-block-2 {

	margin-bottom: 21px;

	}
	 
	#atom-social-content-wrapper, 
	#atom-footer-content-wrapper, 
	.atom-bottom-disclaimer-wrapper,
	#atom-footer-content-wrapper p {

	width: 80%;

	}

	#atom-fixed-width {

	width: 210px;

	}

	.atom-quote {

	width: 280px;

	}

	#atom-hero-cta {

	width: 400px;
	position: relative;
	top: 22px;
	z-index: 100;

	}

	a#atom-hero-cta {

	width: 100%;

	}

	.atom-bottom-disclaimer {

	padding: 40px 0;

	}

	.full-width-extension.atom-social,
	#atom-social-content-wrapper {

	height: auto;

	}

	#social-center {

	text-align: center;
	width: 100%;

	}

	#social-center p {

	float: none;
	padding: 0;

	}

	#social-icon-align {

	display: block;
	margin-bottom: 20px;

	}

	.atom-hero {

	background-position: -1275px -100px !important;

	}

	.atom-hero-content-wrapper, 
	#atom-social-content-wrapper, 
	#atom-footer-content-wrapper, 
	.atom-bottom-disclaimer-wrapper, 
	#atom-footer-content-wrapper p {

	width: 90%;

	}

	#atom-hero-cta {

	display: none;

	}

	#atom-hero-cta-two {

	display: block;

	}

	#atom-fixed-width,
	.atom-bottom-disclaimer-wrapper,
	#atom-footer-content-wrapper {

	margin-left: 20px;

	}
}

}

