@section Header{
    <!--header starts-->
    <div id="topofpage"></div>
    <header class="topheader">
        <div class="container">
            <div class="row">
                <!--logo and start claim wrapper starts-->
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 headerfont">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 text-xs-center text-md-left logo largelogo">
                            <a href="https://www.national-accident-helpline.co.uk">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 208.3 114.9" style="enable-background:new 0 0 208.3 114.9;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #3E285E;
                                    }

                                    .st1 {
                                        fill: #00A3A6;
                                    }

                                    .st2 {
                                        fill: #E52322;
                                    }
</style>
                                <g>
                                <g>
                                <path class="st0" d="M43.7,103.4c0-0.2,0.1-0.3,0.3-0.3h1.1c0.2,0,0.3,0.1,0.3,0.3v4.6h6.1v-4.6c0-0.2,0.1-0.3,0.3-0.3h1.1
											c0.2,0,0.3,0.1,0.3,0.3v11c0,0.2-0.1,0.3-0.3,0.3h-1.1c-0.2,0-0.3-0.1-0.3-0.3v-4.8h-6.1v4.8c0,0.2-0.1,0.3-0.3,0.3H44
											c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



                                <path class="st0" d="M68.5,103.4c0-0.2,0.1-0.3,0.3-0.3h6.7c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-5.3v3.4h4.4
											c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-4.4v3.6h5.3c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-6.7
											c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



                                <path class="st0" d="M91.3,103.4c0-0.2,0.1-0.3,0.3-0.3h1.1c0.2,0,0.3,0.1,0.3,0.3v9.8h4.5c0.2,0,0.3,0.1,0.3,0.3v0.9
											c0,0.2-0.1,0.3-0.3,0.3h-5.9c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



                                <path class="st0" d="M114.2,103.4c0-0.2,0.1-0.3,0.3-0.3h3.8c2,0,3.7,1.7,3.7,3.7c0,2.1-1.7,3.7-3.7,3.7H116v3.9
											c0,0.2-0.1,0.3-0.3,0.3h-1.1c-0.2,0-0.3-0.1-0.3-0.3V103.4z M118.3,108.8c1.1,0,2.1-0.9,2.1-2.1c0-1.1-1-2-2.1-2H116v4.1H118.3z" />



                                <path class="st0" d="M137.1,103.4c0-0.2,0.1-0.3,0.3-0.3h1.1c0.2,0,0.3,0.1,0.3,0.3v9.8h4.5c0.2,0,0.3,0.1,0.3,0.3v0.9
											c0,0.2-0.1,0.3-0.3,0.3h-5.9c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



                                <path class="st0" d="M160.1,103.4c0-0.2,0.1-0.3,0.3-0.3h1.1c0.2,0,0.3,0.1,0.3,0.3v11c0,0.2-0.1,0.3-0.3,0.3h-1.1
											c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



                                <path class="st0" d="M178,103.2c0-0.2,0.1-0.3,0.3-0.3h0.4l7.2,8.4h0v-7.9c0-0.2,0.1-0.3,0.3-0.3h1.1c0.2,0,0.3,0.1,0.3,0.3v11.2
											c0,0.2-0.1,0.3-0.3,0.3H187l-7.2-8.6h0v8.1c0,0.2-0.1,0.3-0.3,0.3h-1c-0.2,0-0.3-0.1-0.3-0.3V103.2z" />



                                <path class="st0" d="M200.9,103.4c0-0.2,0.1-0.3,0.3-0.3h6.7c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-5.3v3.4h4.4
											c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-4.4v3.6h5.3c0.2,0,0.3,0.1,0.3,0.3v0.9c0,0.2-0.1,0.3-0.3,0.3h-6.7
											c-0.2,0-0.3-0.1-0.3-0.3V103.4z" />



									</g>
                                <g>
                                <path class="st0" d="M43.6,45.3c0-0.3,0.3-0.5,0.6-0.5h0.7l12.3,13.1h0V45.7c0-0.3,0.2-0.6,0.6-0.6h2.7c0.3,0,0.6,0.3,0.6,0.6v20
											c0,0.3-0.3,0.5-0.6,0.5h-0.7L47.4,52.5h0v12.8c0,0.3-0.2,0.6-0.6,0.6h-2.7c-0.3,0-0.6-0.3-0.6-0.6V45.3z M66.8,65.1l9.2-20
											c0.1-0.2,0.2-0.3,0.5-0.3h0.3c0.3,0,0.4,0.1,0.5,0.3l9.1,20c0.2,0.4-0.1,0.8-0.5,0.8h-2.6c-0.4,0-0.7-0.2-0.9-0.6L81,62.1h-8.9
											l-1.5,3.2c-0.1,0.3-0.4,0.6-0.9,0.6h-2.6C66.8,65.9,66.6,65.5,66.8,65.1z M79.6,58.8l-3-6.5h-0.1l-2.9,6.5H79.6z M93.8,48.7h-4.5
											c-0.3,0-0.6-0.3-0.6-0.6v-2.4c0-0.3,0.2-0.6,0.6-0.6h13c0.3,0,0.6,0.3,0.6,0.6v2.4c0,0.3-0.2,0.6-0.6,0.6h-4.5v16.6
											c0,0.3-0.3,0.6-0.6,0.6h-2.8c-0.3,0-0.6-0.3-0.6-0.6V48.7z M130.3,44.8c5.9,0,10.7,4.8,10.7,10.7s-4.7,10.7-10.7,10.7
											c-5.9,0-10.7-4.7-10.7-10.7S124.3,44.8,130.3,44.8z M130.3,62.3c3.7,0,6.8-3.1,6.8-6.8c0-3.7-3.1-6.9-6.8-6.9
											c-3.7,0-6.8,3.1-6.8,6.9C123.5,59.3,126.5,62.3,130.3,62.3z M147.8,45.3c0-0.3,0.3-0.5,0.6-0.5h0.7l12.3,13.1h0V45.7
											c0-0.3,0.2-0.6,0.6-0.6h2.7c0.3,0,0.6,0.3,0.6,0.6v20c0,0.3-0.3,0.5-0.6,0.5H164l-12.4-13.6h0v12.8c0,0.3-0.2,0.6-0.6,0.6h-2.7
											c-0.3,0-0.6-0.3-0.6-0.6V45.3z M171,65.1l9.2-20c0.1-0.2,0.2-0.3,0.5-0.3h0.3c0.3,0,0.4,0.1,0.5,0.3l9.1,20
											c0.2,0.4-0.1,0.8-0.5,0.8h-2.6c-0.4,0-0.7-0.2-0.9-0.6l-1.5-3.2h-8.9l-1.5,3.2c-0.1,0.3-0.4,0.6-0.9,0.6h-2.6
											C171,65.9,170.8,65.5,171,65.1z M183.8,58.8l-3-6.5h-0.1l-2.9,6.5H183.8z M196.3,45.7c0-0.3,0.2-0.6,0.6-0.6h2.7
											c0.3,0,0.6,0.3,0.6,0.6v16.6h7.6c0.3,0,0.6,0.3,0.6,0.6v2.4c0,0.3-0.2,0.6-0.6,0.6h-10.9c-0.3,0-0.6-0.3-0.6-0.6V45.7z M42.5,94.3
											l9.2-20c0.1-0.2,0.2-0.3,0.5-0.3h0.3c0.3,0,0.4,0.1,0.5,0.3l9.1,20c0.2,0.4-0.1,0.8-0.5,0.8h-2.6c-0.4,0-0.7-0.2-0.9-0.6l-1.5-3.2
											h-8.9l-1.5,3.2c-0.1,0.3-0.4,0.6-0.9,0.6H43C42.6,95.1,42.3,94.7,42.5,94.3z M55.3,88l-3-6.5h-0.1L49.3,88H55.3z M76.8,74
											c3,0,5.2,0.9,7.2,2.8c0.3,0.2,0.3,0.6,0,0.8l-1.8,1.9c-0.2,0.2-0.5,0.2-0.7,0c-1.2-1.1-2.9-1.8-4.6-1.8c-3.8,0-6.6,3.2-6.6,6.9
											c0,3.7,2.8,6.9,6.6,6.9c1.8,0,3.3-0.7,4.5-1.7c0.2-0.2,0.6-0.2,0.7,0l1.8,1.9c0.2,0.2,0.2,0.6,0,0.8c-2,2-4.6,2.9-7.2,2.9
											c-5.9,0-10.7-4.7-10.7-10.7C66,78.8,70.8,74,76.8,74z M99,74c3,0,5.2,0.9,7.2,2.8c0.3,0.2,0.3,0.6,0,0.8l-1.8,1.9
											c-0.2,0.2-0.5,0.2-0.7,0c-1.2-1.1-2.9-1.8-4.6-1.8c-3.8,0-6.6,3.2-6.6,6.9c0,3.7,2.8,6.9,6.6,6.9c1.8,0,3.3-0.7,4.5-1.7
											c0.2-0.2,0.6-0.2,0.7,0l1.8,1.9c0.2,0.2,0.2,0.6,0,0.8c-2,2-4.6,2.9-7.2,2.9c-5.9,0-10.7-4.7-10.7-10.7C88.3,78.8,93.1,74,99,74z
											 M125.4,74.9c0-0.3,0.2-0.6,0.5-0.6h7c5.7,0,10.4,4.7,10.4,10.4c0,5.8-4.7,10.4-10.4,10.4h-7c-0.3,0-0.5-0.3-0.5-0.6V74.9z
											 M132.6,91.4c3.9,0,6.7-2.9,6.7-6.8c0-3.9-2.8-6.8-6.7-6.8h-3.4v13.6H132.6z M150.2,74.9c0-0.3,0.2-0.6,0.6-0.6h12.1
											c0.3,0,0.6,0.3,0.6,0.6v2.4c0,0.3-0.2,0.6-0.6,0.6h-8.8v4.9h7.3c0.3,0,0.6,0.3,0.6,0.6v2.5c0,0.3-0.3,0.6-0.6,0.6h-7.3v5.2h8.8
											c0.3,0,0.6,0.3,0.6,0.6v2.4c0,0.3-0.2,0.6-0.6,0.6h-12.1c-0.3,0-0.6-0.3-0.6-0.6V74.9z M170.6,74.5c0-0.3,0.3-0.5,0.6-0.5h0.7
											l12.3,13.1h0V74.9c0-0.3,0.2-0.6,0.6-0.6h2.7c0.3,0,0.6,0.3,0.6,0.6v20c0,0.3-0.3,0.5-0.6,0.5h-0.7l-12.4-13.6h0v12.8
											c0,0.3-0.2,0.6-0.6,0.6h-2.7c-0.3,0-0.6-0.3-0.6-0.6V74.5z M199.3,77.8h-4.5c-0.3,0-0.6-0.3-0.6-0.6v-2.4c0-0.3,0.2-0.6,0.6-0.6
											h13c0.3,0,0.6,0.3,0.6,0.6v2.4c0,0.3-0.2,0.6-0.6,0.6h-4.5v16.6c0,0.3-0.3,0.6-0.6,0.6h-2.8c-0.3,0-0.6-0.3-0.6-0.6V77.8z
											 M112.5,45.1h-2.7c-0.3,0-0.6,0.3-0.6,0.6v19.6c0,0.3,0.2,0.6,0.6,0.6h2.7c0.3,0,0.6-0.3,0.6-0.6V45.7
											C113.1,45.4,112.8,45.1,112.5,45.1z M117.1,74.3h-2.7c-0.3,0-0.6,0.3-0.6,0.6v19.6c0,0.3,0.2,0.6,0.6,0.6h2.7
											c0.3,0,0.6-0.3,0.6-0.6V74.9C117.7,74.6,117.4,74.3,117.1,74.3z" />



									</g>
                                <g>
                                <g>
                                <g>
                                <path class="st1" d="M51.3,11.9c-0.3-0.3-0.6-0.6-0.9-0.8c-2.7-2.4-6-3.7-9.4-4.1c-4.5-0.5-9.2,0.9-12.8,4l0.9,0.9
													c2.9,2.9,4.5,6.5,4.9,10.3c0.5,4.9-1.1,10-4.9,13.7c-0.3,0.3-0.6,0.6-0.9,0.9l11.2,11v-6.9c4.3,0,8.1-1.6,11.1-4.2
													c0.3-0.3,0.6-0.5,0.9-0.8l0,0C57.9,29.3,57.9,18.5,51.3,11.9z" />



											</g>
										</g>
                                <g>
                                <g>
                                <path class="st2" d="M22.3,25.6c-0.5-4.9,1.1-10,4.9-13.7c0.3-0.3,0.6-0.6,0.9-0.9L16.9,0v6.9c-4.3,0-8.1,1.6-11.1,4.2
													c-0.3,0.3-0.6,0.5-0.9,0.8l0,0c-6.6,6.6-6.6,17.4,0,24c0.3,0.3,0.6,0.6,0.9,0.8c2.7,2.4,6,3.7,9.4,4.1c4.5,0.5,9.2-0.9,12.8-4
													l-0.9-0.9C24.3,33.1,22.7,29.4,22.3,25.6z" />



											</g>
										</g>
                                <g>
                                <g>
                                <path class="st0" d="M33.9,22.2c-0.4-3.8-2-7.4-4.9-10.3L28.2,11c-0.3,0.3-0.6,0.6-0.9,0.9c-3.8,3.8-5.4,8.8-4.9,13.7
													c0.4,3.8,2,7.4,4.9,10.3l0.9,0.9c0.3-0.3,0.6-0.6,0.9-0.9C32.8,32.2,34.4,27.1,33.9,22.2z" />



											</g>
										</g>
									</g>
								</g>
								</svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!--logo and start claim wrapper starts-->
                <!--Contact CTAs start-->
                <div class="desktopcta col-sm-9 col-md-9 col-lg-9 col-xs-9 hidden-xs">
                    <div class="row">
                        <div class="ctas-wrap">
                            <div class="ctas-title cta-title-header">
                                <h4>Call us free:</h4>
                            </div>
                            <div class="ctas">
                                <a type="button" class="headercallbackdesktop btn btn-teal headerbuttons callbackbtn callback-header-modal-button-link">
                                    Call me back
                                </a>
                                <input type="hidden" value="0" id="mchf">

                                <span class="header-button">
                                    <a class="btn btn-teal headerbuttons digibtn doitonlinebutton" href="https://www.national-accident-helpline.co.uk/claim-online/" target="_blank">
                                        <span id="doitonline_header_button">Claim online</span>
                                    </a>
                                </span>

                                <div class="purple medtel-block medtel-block-header">
                                    <span id="phone_header_button" class="phone_header_button">
                                        <i class="icon icon-call-us"></i> &nbsp;
                                        <a id="phone_header_button" class="infinityPhoneNumber2" href="tel:08003760150">
                                            0800 376 0150
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contact CTAs end-->
                <!--mobilemenu starts-->
                <div class="mobilemenu hidden-xl hidden-lg hidden-md hidden-sm visible-xs">
                    <div class="mobilecta">
                        <div class="mobilecta-container">
                            <button type="button" class="headercallbackdesktop btn btn-teal headerbuttons callbackbtn callback-header-modal-button-link">
                                Call me back
                            </button>
                            <input type="hidden" value="0" id="mchf">
                            <span class="header-button">
                                <a class="btn btn-teal digibtn doitonlinebutton" href="https://www.national-accident-helpline.co.uk/claim-online/" target="_blank">
                                    <span id="doitonline_header_button_mobile_visible">Claim online</span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <span class="sticky-phone">
                        <a id="phone_header_button" class="infinityPhoneNumber2" href="tel:08003760150">
                            0800 376 0150
                        </a>
                    </span>
                    <div class="hamburgericon">
                        <i class="icon fa-lg fa fa-bars"></i>
                    </div>
                </div>
                <!--mobilemenu ends-->
            </div>
            <div class="mobilectas hidden-xl hidden-lg hidden-md hidden-sm visible-xs pull-right">

                <button type="button" class="headercallbackdesktop btn btn-teal headerbuttons callbackbtn" id="callback-header-modal-button" data-toggle="modal" data-target="#callback-header-modal">
                    Call me back
                </button>
                <div class="desktop_header_form">
                    <div class="callbackheader col-lg-5 col-xl-6 headerfont">
                        <div class="callbackform">
                            <form id="callback_form_header" class="goldmine_callback" data-parsley-validate="">
                                <fieldset>
                                    <!--<div class="form-group form_title" data-name="title">
                                        <label for="title">Title</label>
                                        <div id="titlefields" class="btn-group" aria-label="Basic example" role="group">
                                            <button class="btn btn-secondary" type="button">Mr</button>
                                            <button class="btn btn-secondary" type="button">Mrs</button>
                                            <button class="btn btn-secondary" type="button">Miss</button>
                                            <button class="btn btn-secondary" type="button">Ms</button>

                                        </div>
                                    </div>-->

                                    <div class="form-group form_first_name" data-name="first_name">
                                        <label for="first_name">First Name*</label>
                                        <span class="form-validation-error"></span>
                                        <input id="first_name" class="form-control first_name" type="text" name="first_name" required="" placeholder="First name"
                                               data-parsley-trigger="keypress"
                                               data-parsley-errors-messages-disabled
                                               data-parsley-validation-threshold="1"
                                               data-parsley-pattern="^[a-zA-Z \- \s \']{2,20}$">
                                    </div>

                                    <div class="form-group form_surname" data-name="surname">
                                        <label for="surname">Surname*</label>
                                        <span class="form-validation-error"></span>
                                        <input id="surname" class="form-control surname" type="text" name="surname" required="" placeholder="Surname"
                                               data-parsley-trigger="keypress"
                                               data-parsley-errors-messages-disabled
                                               data-parsley-validation-threshold="1"
                                               data-parsley-pattern="^[a-zA-Z \- \s \']{2,20}$">
                                    </div>

                                    <div class="form-group form_phone_number" data-name="phone_number">
                                        <label for="surname">Phone Number*</label>
                                        <span class="form-validation-error"></span>
                                        <input id="phone_number" class="form-control phone_number" type="text" name="phone_number" required placeholder="Phone number"
                                               data-parsley-trigger="keypress"
                                               data-parsley-errors-messages-disabled
                                               data-parsley-validation-threshold="1"
                                               data-parsley-pattern="^(0044|\+?44|0)[127]\d{9}$">
                                        <div class="optinmessage">I agree for National Accident Helpline to call me</div>
                                    </div>
                                    <div class="form-group form_alt_phone_number" data-name="alt_phone_number">
                                        <label for="surname">Alt. Phone Number*</label>
                                        <input id="alt_phone_number" class="form-control" type="text" name="alt_phone_number" placeholder="Alt. Phone number">
                                    </div>
                                    <button class="btn btn-red btn-block" type="submit" id="submit"> Call me back </button>
                                    <div class="securitylock" style="color: #666">
                                        <img src="images/padlock.png" style="-webkit-filter: invert(100%); filter: invert(100%);" /> Information on how we handle your data is in our <u><strong><a href="/privacy-policy.html" target="_blank">Privacy Policy</a></strong></u>
                                    </div>
                                </fieldset>
                                <input type="hidden" name="title" id="title" value="Mr">
                                <input type="hidden" name="first_visit" id="first_visit" value="0150">
                                <input type="hidden" name="last_visit" id="last_visit" value="0150">
                                <input type="hidden" name="claim_no" id="claim_no" value="10535947-26">
                                <input type="hidden" name="source_url" id="source_url" value="/">
                                <input type="hidden" name="clid" id="clid" value="">
                                <input type="hidden" name="version" id="version" value="1">
                                <input type="hidden" name="type" id="type" value="callback">
                                <input type="hidden" class="gclientid" name="clientid">
                            </form>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="0" id="mchf">

                <span class="header-button">
                    <a class="btn btn-teal digibtn doitonlinebutton" href="https://www.national-accident-helpline.co.uk/claim-online/" target="_blank">
                        <span id="doitonline_header_button_mobile_visible">Claim online</span>
                    </a>
                </span>
            </div>
        </div>
        <!--mobile cta menu ends-->
    </header>

}

@section Footer{
    <!--footer starts-->
    <footer class="footerpanel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="display-md-table">
                        <div id="black-studio-tinymce-3" class="widget_black_studio_tinymce col-md-4 col-sm-4 col-xs-12 display-md-table-cell display-sm-table-cell pull-md-none footer-column">
                            <h6>Frequently asked questions</h6><div class="textwidget">
                                <p>Our <a href="https://www.national-accident-helpline.co.uk/making-a-claim/faq">FAQs</a> can give you a good overview of the things you need to know</p>
                                <p>More information</p>
                                <ul>
                                    <li><a href="https://www.national-accident-helpline.co.uk/about-us/contact">Contact us</a></li>
                                    <li><a href="https://www.national-accident-helpline.co.uk/about-us/our-customer-charter">Our customer charter</a></li>
                                    <li><a href="https://www.national-accident-helpline.co.uk/about-us/complaints-procedure.html">Our complaints procedure</a></li>
                                </ul>
                            </div>
                        </div>		<div id="recent-posts-4" class="widget_recent_entries col-md-4 col-sm-4 col-xs-12 display-md-table-cell display-sm-table-cell pull-md-none footer-column">
                            <h6>News</h6>		<ul>
                                <li>
                                    <a href="https://www.national-accident-helpline.co.uk/nahl-group-plc-wins-two-employee-engagement-awards">NAHL Group plc wins two employee engagement awards</a>
                                </li>
                                <li>
                                    <a href="https://www.national-accident-helpline.co.uk/25-years-of-helping-you-make-it-right">25 years of helping you make it right</a>
                                </li>
                                <li>
                                    <a href="https://www.national-accident-helpline.co.uk/what-to-do-if-youre-a-cyclist-in-a-road-traffic-accident">What to do if you&#8217;re a cyclist in a road traffic accident</a>
                                </li>
                                <li>
                                    <a href="https://www.national-accident-helpline.co.uk/national-accident-helpline-welcomes-cold-calling-ban">National Accident Helpline welcomes the Government’s cold calling ban on claims management companies</a>
                                </li>
                            </ul>
                        </div><div id="black-studio-tinymce-2" class="widget_black_studio_tinymce col-md-4 col-sm-4 col-xs-12 display-md-table-cell display-sm-table-cell pull-md-none footer-column">
                            <h6>More about us</h6><div class="textwidget">
                                <ul>
                                    <li><a href="https://www.national-accident-helpline.co.uk/about-us">About us</a></li>
                                    <li><a href="https://www.national-accident-helpline.co.uk/news">News</a></li>
                                    <li><a href="https://www.national-accident-helpline.co.uk/customer-stories">Success stories</a></li>
                                    <li><a href="https://www.national-accident-helpline.co.uk/about-us/jobs">Careers with us</a></li>
                                    <li><a href="https://www.nahlgroupplc.co.uk/" target="_blank" rel="noopener">About NAHL PLC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--footermenu start-->
            <div class="footermenu">
                <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu">
                        <li id="menu-item-2232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2232"><a href="https://www.national-accident-helpline.co.uk/terms-conditions.html">Terms &#038; conditions</a></li>
                        <li id="menu-item-2233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2233"><a href="https://www.national-accident-helpline.co.uk/privacy-policy.html">Privacy policy</a></li>
                        <li id="menu-item-8945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8945"><a href="https://www.national-accident-helpline.co.uk/our-regulatory-information">Our Regulatory Information</a></li>
                        <li id="menu-item-8410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8410"><a href="https://www.national-accident-helpline.co.uk/remove-my-details">Remove My Details</a></li>
                        <li id="menu-item-2235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2235"><a href="https://www.national-accident-helpline.co.uk/sitemap.html">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <!--footermenu ends-->
            <!--footer disclaimer starts-->
            <div class="footerdisclaimer">
                <p>Regulated by the Claims Management Regulator in respect of regulated claims management activities. No. CRM1437; registration recorded on the website <a href="https://www.gov.uk/government/groups/claims-management-regulator" target="_blank" title="gov.uk">www.gov.uk</a></p>

                <!--star rating starts-->
                <div class="nahreview" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness">
                    <a href="https://www.trustpilot.com/review/www.national-accident-helpline.co.uk" rel="nofollow" target="_blank"><span itemprop="name">National Accident Helpline</span> client reviews </a>
                    <div class="rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="National Accident Helpline's TrustScore is based on 11,548&lt; reviews.">
                        <a href="https://www.trustpilot.com/review/www.national-accident-helpline.co.uk" rel="nofollow" target="_blank">
                            <span class="average" itemprop="ratingValue">9.3</span> out of <span itemprop="bestRating">10</span><br />
                            Excellent
                        </a>
                        <div class="stats">
                            <a href="https://www.trustpilot.com/review/www.national-accident-helpline.co.uk" rel="nofollow" target="_blank">
                                Based on
                                <meta itemprop="reviewCount" content="11,548">
                                <span class="reviewCount">11,548</span> Trustpilot reviews
                            </a>
                        </div>
                        <a href="https://www.trustpilot.com/review/www.national-accident-helpline.co.uk" rel="nofollow" target="_blank"></a>
                    </div>
                    <a href="https://www.trustpilot.com/review/www.national-accident-helpline.co.uk" rel="nofollow" target="_blank"></a>
                </div>
                <!--star rating ends-->

                <div class="copyright col-sm-5">2018 National Accident Helpline &copy; &reg;</div>
                <div class="col-sm-7">
                    <div id="black-studio-tinymce-4" class="widget_black_studio_tinymce footerlogos">
                        <div class="textwidget">
                            <p><img src="https://www.national-accident-helpline.co.uk/wp-content/uploads/2016/10/NAHL_Group_plc_Identity-300x200.png" alt="NAHL_Group_plc_Identity" width="102" height="68" class="alignnone wp-image-3441 alignright" /><img src="https://s3-eu-west-1.amazonaws.com/prod-wp-assets-1012721/wp-content/uploads/2018/10/03120144/IIP.png" alt="Investors in People" width="255" height="72" class="alignnone wp-image-8887 alignright" /></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer disclaimer ends-->
        </div>
    </footer>
    <!--footer ends-->


}